--extra-index-url https://download.pytorch.org/whl/cpu
pip==25.1.1

# CORE (obligatoire)
streamlit==1.32.0
numpy==1.24.0
pandas==2.0.0

# NLP (version light)
spacy==3.7.2 ; python_version < '3.11'
sentence-transformers==2.2.2

# PyTorch (CPU only)
torch==2.0.0
torchvision==0.15.1

# LangChain et ChromaDB
langchain==0.0.340
langchain-huggingface==0.1.3
langchain-chroma==0.1.4
langchain-mistralai==0.1.3
chromadb==0.4.15

# SQLite fix pour Streamlit Cloud
pysqlite3-binary

# Mistral API
mistralai==0.4.0

# Traitement de fichiers pour user_rag_page
PyPDF2==3.0.1
python-docx==0.8.11
python-pptx==0.6.21
openpyxl==3.1.2